<div class="col-md-8 col-md-offset-2 col-sm-offset-1">
  <div class="col-md-12">
    <% if @theme.theme_name == "Tecnología"%>
      <div class="btn btn-success"><%=@theme.theme_name%></div>
    <% elsif @theme.theme_name == "Series"%>
      <div class="btn btn-success"><%=@theme.theme_name%></div>
    <% else %>
    <div class="btn btn-success"><%=@theme.theme_name%></div>
    <% end %>
  </div>
</div>
