<p>Blogueando nace de la sencilla razón de expresar y dar a conocer las cosas que más nos gustan, tiene como objetivo volverse una comunidad de personas que se diviertan escribiendo lo que hacen, lo que han leído, comido etc y que podamos hacer una retroalimentación a eso.</p>

<p>Cosas por decir: </p>

<p> - A medida que van surgiendo nuevos temas se irán agregando los links para agruparlos en categorías</p>

<p> - Todo mensaje irrespetuoso será borrado inmediatamente y dependiendo del comentario se bloqueará al usuario ya que esto es un espacio para divertirnos</p>

<p> - Cualquier duda o sugerencia pueden escribirme a justxtoday@gmail.com</p>



<p>Angie</p>
