.register{
  background: image-url("fondo1.jpg")no-repeat center top;
  height: auto;
  width: 100%;
      background-position: bottom;
      position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: #000000;
        z-index: 1000;
        display: inline-grid;
        height: auto;
    // opacity: .5;
    // background: asset-data-url('fondo1.jpg') ;

}
