// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


h2{
  color: black;
}

.comments{
  // border: 1px solid #BBC6A9;
  margin-top: 5px;
  background-color: white;
  border-radius: 5px;
}

.comment-body{
  margin-top: 10px;
  background-color: #E4E9DD;
}

.signout{
margin-left: 44px;
}

.sign{
  margin-left: 869px;
}

.navbar-nav{
  margin-top: 15px;
  float: right;
}

form-signin-heading .form-control,
.btn-sub{
	// width: 362px !important;
}

#form-area{
	height: 399px;
}
.index-container{
	margin-top: 30px;
}
.index-row{
		margin-top: 50px;
}
.p-index{
	text-align:center;
  font-size: 15px;
}

p{
  text-align: justify;
}

.unique{
  color: red;
}
