// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.comments{
  border: 1px solid grey;
  margin-top: 5px;
  border-radius: 5px;
}

.signout{
margin-left: 44px;
}

.sign{
  margin-left: 869px;
}

.navbar-nav{
  margin-top: 15px;
}
